<html
  lang="en"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml"
>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      * { box-sizing: border-box; } th.column { padding: 0; }
      a[x-apple-data-detectors] { color: inherit !important; text-decoration:
      inherit !important; } #MessageViewBody a { color: inherit;
      text-decoration: none; } p { line-height: inherit; } @media (max-width:
      650px) { .icons-inner { text-align: center; } .icons-inner td { margin: 0
      auto; } .row-content { width: 100% !important; } .stack .column { width:
      100%; display: block; } }
    </style>
  </head>

  <body
    style="
      background-color: #f8f8f9;
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
    "
  >
    {{{body}}}
  </body>
</html>